$colors:(
    header-background-color: #000,
    header-font-color: #fff,
    );

$fontExtra: 'Caesar Dressing', cursive;

    $tablet-width: (min-width: 768px);
    $laptop-width: (min-width: 1280px);
